<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jupiter.sequence.dao.SequenceDefinitionDao">
    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jupiter.sequence.entity.SequenceDefinition">
        <id column="id" property="id" />
        <result column="tenant_id" property="tenantId" />
        <result column="seq_name" property="seqName" />
        <result column="min_value" property="minValue" />
        <result column="max_value" property="maxValue" />
        <result column="increase" property="increase" />
        <result column="current_value" property="currentValue" />
        <result column="cycle" property="cycle" />
        <result column="char_length" property="charLength" />
        <result column="prefix" property="prefix" />
        <result column="append_date_format" property="appendDateFormat" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

	<sql id="Table_Name">sequence_definition</sql>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,tenant_id,seq_name,min_value,max_value,increase,current_value,cycle,char_length,prefix,append_date_format,
		create_time,update_time
    </sql>

	<sql id="Base_Where">
	  <if test="ew.id != null">id=#{ew.id} AND</if>
	  <if test="ew.tenantId != null and ew.tenantId != ''">tenant_id=#{ew.tenantId} AND</if>
	  <if test="ew.seqName != null and ew.seqName != ''">seq_name=#{ew.seqName} AND</if>
	  <if test="ew.minValue != null">min_value=#{ew.minValue} AND</if>
	  <if test="ew.maxValue != null">max_value=#{ew.maxValue} AND</if>
	  <if test="ew.increase != null">increase=#{ew.increase} AND</if>
	  <if test="ew.currentValue != null">current_value=#{ew.currentValue} AND</if>
	  <if test="ew.cycle != null">cycle=#{ew.cycle} AND</if>
	  <if test="ew.charLength != null">char_length=#{ew.charLength} AND</if>
	  <if test="ew.prefix != null and ew.prefix != ''">prefix=#{ew.prefix} AND</if>
	  <if test="ew.appendDateFormat != null and ew.appendDateFormat != ''">append_date_format=#{ew.appendDateFormat} AND</if>
	  <if test="ew.createTime != null">create_time=#{ew.createTime} AND</if>
	  <if test="ew.updateTime != null">update_time=#{ew.updateTime} AND</if>
	</sql>

	<select id="selectPageList" resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" /> 
		FROM <include refid="Table_Name" /> 
		<where>
		<trim suffixOverrides="AND">
		  <include refid="Base_Where" />
		  <if test="queryBeginTime != null">  create_time&gt;=#{queryBeginTime} AND</if>
		  <if test="queryEndTime != null">  create_time&lt;=#{queryEndTime} AND</if>
		</trim>
		</where> 
	</select>
	
	<select id="selectForUpdate"  resultMap="BaseResultMap">
		SELECT <include refid="Base_Column_List" /> 
		FROM <include refid="Table_Name" /> 
		WHERE tenant_id=#{tenantId} and seq_name=#{seqName}
	</select>
</mapper>
